<div class="container wiehaalt">
  <div class="row">
    <div id="title" class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <button class="btn btn-normal btn-lg btn-block" *ngIf="!this.pitcherBoy" (click)="roll()">Haal pitcher</button>
      <div id="wiedepitcherhaalt" class="row justify-content-around" *ngIf="this.pitcherBoy">
        <h1 class="col-12">{{this.pitcherBoy.name}}</h1>
        <button class="btn btn-success btn-lg resultbutton col-auto col-lg-3" (click)="fetchedPitcher(pitcherBoy)">Pitcher gehaald</button>
        <button class="btn btn-danger btn-lg resultbutton col-auto col-lg-3" (click)="cowardFarmer(pitcherBoy)">CowardFarmer</button>
      </div>
    </div>
  </div>

  <!-- <div class="row"> <![hidden]="!this.editMode" class="row">-->
  <div class="row">
    <div class="col-12 col-lg-6">
     <h3>Spelers</h3>
     <div class="row">
       <div class="col-8 col-md-8">
         <input [(ngModel)]="selectedPlayer.name" placeholder="Naam" type="text" class="form-control name-field col-sm-12">
      </div>
      <div class="col-4 col-md-4" *ngIf="!selectedPlayer.id">
        <button (click)='playerAdd()' type='submit' class="btn btn-normal addbutton col-12">Toevoegen</button>
      </div>
        <div class="col-2 editbutton" *ngIf="selectedPlayer.id">
          <button (click)='playerSave()' type='submit' class="btn btn-primary col-12">
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-2 editbutton" *ngIf="selectedPlayer.id">
          <button (click)='playerRemove()' type='submit' class="btn btn-danger col-12">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
      </div>
    </div>
      <table class="table players">
        <tr>
          <th>Naam</th>
          <th>Pitchers gehaald</th>
        </tr>
        <tr class="datacells" *ngFor="let player of players" (click)="onSelect(player)" [class.selected]="player === selectedPlayer">
          <td>{{player.name}}</td>
          <td>{{player.nr_of_pitchers}}</td>
          <td>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="player.selected">
              <div class="slider round"></div>
            </label>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-12 col-lg-6">
      <h3>Pitcher geschiedenis</h3>
      <table class="table players">
        <tr>
          <th>Pitcher nummer</th>
          <th>Gehaald door</th>
          <th>Wanneer gehaald</th>
        </tr>
        <tr class="datacells" *ngFor="let pitcher of pitchers; let i=index">
          <td>{{ pitcher.id }}</td>
          <td>{{ pitcher.player_name }}</td>
          <td>{{ pitcher.date | date: ' dd-MM-yyyy HH:mm' }}</td>
        </tr>
      </table>
    </div>
  </div>

<!-- </div> -->

<script>
  $("[name='my-checkbox']").bootstrapSwitch();
</script>
